<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Room Service{{#if title}} - {{title}}{{/if}} | The Landon Hotel</title>
        <meta name="description" content="No matter what you're craving, Restaurant to Room has you covered. Our fast and friendly delivery service brings you hot, fresh food, from a diverse choice of local restaurants." />
        <link rel="stylesheet" href="/stylesheets/wp-backgrounds.css" type='text/css' media='all' />
        <link rel='stylesheet' href="/stylesheets/mjCont.css" type='text/css' media='all' />
        <link rel='stylesheet' href='/stylesheets/front.css' type='text/css' media='all' />
        <link rel='stylesheet' href='/stylesheets/style.css' type='text/css' media='all' />
        <link id="twentytwelve-fonts-css" media="all" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700&subset=latin,latin-ext" rel="stylesheet">
        <script type='text/javascript' src='/js/jquery.js'></script>
        <script type='text/javascript' src='/js/wp-backgrounds.js'></script>
        <script type='text/javascript' src="/js/main.js"></script>
    </head>
    <body class="custom-font-enabled">
        <div id="page" class="hfeed site">
	        <header id="masthead" class="site-header" role="banner">
		        <hgroup>
			        <h1 class="site-title"><a href="http://www.landonhotel.com/" title="The Landon Hotel" rel="home">The Landon Hotel</a></h1>
			        <h2 class="site-description">You&#039;ll feel at home in our neighborhood</h2>
		        </hgroup>
		        <a href="http://www.landonhotel.com/"><img src="/images/cropped-landon_hotel_header_960x85.png" class="header-image" width="960" height="85" alt="" /></a>
		        <nav id="site-navigation" class="main-navigation" role="navigation">
		            <h3 class="menu-toggle">Menu</h3>
			        <a class="assistive-text" href="#content" title="Skip to content">Skip to content</a>
			        <div class="menu-main-menu-container">
			            <ul id="menu-main-menu" class="nav-menu">
			                <li id="menu-item-21" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21"><a href="http://www.landonhotel.com/">Home</a></li>
                            <li id="menu-item-149" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-149"><a href="http://www.landonhotel.com/rooms/">Accommodations</a>
                                <ul class="sub-menu">
	                                <li id="menu-item-155" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-155"><a href="http://www.landonhotel.com/pet-friendly/">Pet Friendly</a></li>
                                </ul>
                            </li>
                            <li id="menu-item-219" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-218 current_page_item menu-item-219"><a href="http://www.landonhotel.com/restaurant-to-room-service/">Room Service</a></li>
                            <li id="menu-item-24" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-24"><a href="http://www.landonhotel.com/offers/">Specials</a></li>
                            <li id="menu-item-25" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-25"><a href="http://www.landonhotel.com/sample-page/">Reservations</a>
                                <ul class="sub-menu">
	                                <li id="menu-item-158" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-158"><a href="http://www.landonhotel.com/trip-planner/">Trip Planner</a></li>
                                </ul>
                            </li>
                            <li id="menu-item-23" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-23"><a href="http://www.landonhotel.com/meetings-events/">Meetings &#038; Events</a>
                                <ul class="sub-menu">
	                                <li id="menu-item-161" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-161"><a href="http://www.landonhotel.com/meetings-events/calendar/">Calendar</a></li>
                                </ul>
                            </li>
                            <li id="menu-item-53" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-53"><a href="http://www.landonhotel.com/news/">News</a>
                                <ul class="sub-menu">
	                                <li id="menu-item-59" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-59"><a href="http://www.landonhotel.com/news/press-releases/">Press Releases</a></li>
	                                <li id="menu-item-166" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-166"><a href="http://www.landonhotel.com/blog-2/">Blog</a></li>
                                </ul>
                            </li>
                            <li id="menu-item-152" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-152"><a href="http://www.landonhotel.com/contact/">Contact</a></li>
                        </ul>
                    </div>
                </nav>
            </header>
            {{#if firstName}}
	        <div id="greeting" style="float:right;">
	            <strong>Hi, {{firstName}}!</strong> <a href="/users/logout">Log out</a>
	        </div>
	        {{/if}}
	        <div id="main" class="wrapper">
	            <div id="primary" class="site-content">
		            <div id="content" role="main">
                        <div class="entry-content">
							<div class="panel-grid" id="pg-218-0">
								<div class="panel-grid-cell" id="pgc-218-0-0">
									<div class="panel widget panel-first-child panel-last-child" id="panel-218-0-0-0">
										<div class="textwidget">
											<p><img class="size-full wp-image-223 alignleft" src="/images/restaurant-to-room_web.png" alt="restaurant to room_web" width="300" height="282" /></p>
										</div>
									</div>
								</div>
								<div class="panel-grid-cell" id="pgc-218-0-1">
									<!-- BEGIN page-specific content -->
									<div id="page-content" class="panel widget panel-first-child panel-last-child">
										{{{body}}}
									</div>
									<!-- END page-specific content -->
								</div>
							</div>
						</div>    
                    </div>
	            </div>
            </div>
	        <footer id="colophon" role="contentinfo">
		        <div class="site-info">
			        <a href="http://lynda.com/" title="lynda.com">The Landon Hotel is a fictitious brand created by lynda.com solely for the purpose of training. All products and people associated with The Landon Hotel are also fictitious. Any resemblance to real brands, products, or people is purely coincidental. Information provided about the product is also fictitious and should not be construed to be representative of actual products on the market in a similar product category.</a>
		        </div>
	        </footer>
        </div>        
    </body>
</html>